* {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  text-align: center;
  background-color: black;
  color: white;
  padding: 25px;
  margin: 25px;
  border-radius: 25px;
}

ul {
  text-align: center;
  list-style: none;
}

a {
  display: inline-block;
  background-color: black;
  padding: 10px 20px 10px 20px;
  margin: 10px 10px 10px 25px;
  color: orange;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  border-radius: 25px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border-radius: 50px;
}

div {
 background-color: black;
 color: white;
 padding: 25px;
 margin: 25px;
 border-radius: 25px;
}
